<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Lato&display=swap');
        p {
            font-size: 1cm;
            height: 60px;
            font-family: 'IBM Plex Mono';
        }
        .smol-text {
            font-size: 0.6cm;
            font-family: lato;
        }
    </style>
</head>
<body>
    <p>About</p>
    <p class="smol-text">This is a flask app that gives information about food.
        The information provided is from an api so please take the given information
        with a grain of salt. Thank you
    </p>
</body>
</html>